.self {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 400px;
	border-radius: 8px;

	padding: 8px;
	margin: 8px;
	background-color: #f0f0f0;
  align-items: flex-start;
}

.toggle {
	appearance: none;
	border: none;
	bottom: 0;
	height: auto;
	margin: auto 0;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 40px;
}


.input {
	appearance: none;
	background: #0000;
	border: 1px solid #2d2e34;
  border-radius: 4px;
	color: #2d2e34;
	flex: 1;
	font-size: 1.2em;
	height: 100%;
	outline: 0;
	padding: 8px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}
